**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo
**/*.csproj.user
**/TestResults/
**/node_modules/
**/*.log
**/.git/
**/.gitignore
**/.dockerignore
AppFitNutri/
AppFitNutri.Core/
AppFitNutriTest/
